// 常用字体颜色设置
$color-font-highlight: #2a83ff;
$color-font-white: #ffffff;
$color-font-black: #061026;
$color-font-grey: #354457;

// 常用字体大小设置
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-26: 26px;
$font-size-32: 32px;
$font-size-44: 44px;

// 版心宽度
$max-width-web: 1020px;
$max-width-wrap: 100%;